.btn-wrapper button{
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color:#fff;
}
.img-wrapper img{
  width: 100px;
}
.cart-wrapper{
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 30px;
}

/*.item{
  float: left;
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}*/